In [ ]:
!apt-get -q update

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:6 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:8 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,732 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,167 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,496 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [909 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,272 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [942 kB]
Fetched 11.8 MB in 7s (1,786 kB/s)
Reading package lists...

In [ ]:
!pip install -q requests tldextract urlextract pprintpp pandas twitter unshortenit contractions rank_bm25 rbo python-terrier

     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 87 kB 2.3 MB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 50 kB 5.3 MB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 97 kB 3.2 MB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 106 kB 51.7 MB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 287 kB 47.6 MB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1.1 MB 45.7 MB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 69 kB 6.1 MB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 297 kB 67.8 MB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 46 kB 3.9 MB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 45 kB 2.7 MB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 596 kB 51.5 MB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1.2 MB 25.7 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 72 kB 1.3 MB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 126 kB 69.6 MB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 294 kB 67.6 MB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 6.4 MB 35.8 MB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 287 kB 44.6 MB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 59 kB 6.7 MB/s
  Building wheel for unshortenit (setup.py) ... done
  Building wheel for python-terrier (setup.py) ... done
  Building wheel for ir-measures (setup.py) ... done
  Building wheel for cwl-eval (setup.py) ... done
  Building wheel for cbor (setup.py) ... done
  Building wheel for unlzw3 (PEP 517) ... done
  Building wheel for warc3-wet-clueweb09 (setup.py) ... done
  Building wheel for chest (setup.py) ... done
  Building wheel for wget (setup.py) ... done

In [ ]:
!git clone https://github.com/tweepy/tweepy.git
%cd tweepy/
!pip install .
%cd ..

Cloning into 'tweepy'...
remote: Enumerating objects: 13471, done.
remote: Counting objects: 100% (3914/3914), done.
remote: Compressing objects: 100% (1091/1091), done.
remote: Total 13471 (delta 2888), reused 3802 (delta 2795), pack-reused 9557
Receiving objects: 100% (13471/13471), 12.85 MiB | 14.41 MiB/s, done.
Resolving deltas: 100% (9489/9489), done.
/content/tweepy
Processing /content/tweepy
  DEPRECATION: A future pip version will change local packages to be built in-place without first copying to a temporary directory. We recommend you use --use-feature=in-tree-build to test your packages with this new behavior before it becomes the default.
   pip 21.3 will remove support for this functionality. You can find discussion regarding this at https://github.com/pypa/pip/issues/7555.
Requirement already satisfied: oauthlib<4,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from tweepy==4.8.0) (3.2.0)
Collecting requests<3,>=2.27.0
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 63 kB 1.2 MB/s
Requirement already satisfied: requests-oauthlib<2,>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from tweepy==4.8.0) (1.3.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy==4.8.0) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy==4.8.0) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy==4.8.0) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy==4.8.0) (2.10)
Building wheels for collected packages: tweepy
  Building wheel for tweepy (setup.py) ... done
  Created wheel for tweepy: filename=tweepy-4.8.0-py3-none-any.whl size=77719 sha256=f4230d0de152c15610140faff2c92cba3f328ae30f01ad6066116bb771c2b060
  Stored in directory: /tmp/pip-ephem-wheel-cache-8qz4xd1c/wheels/5e/ac/21/16d34f5f532b9fb2963f1422353f0075a0b3a193d5648a7c00
Successfully built tweepy
Installing collected packages: requests, tweepy
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: tweepy
    Found existing installation: tweepy 3.10.0
    Uninstalling tweepy-3.10.0:
      Successfully uninstalled tweepy-3.10.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed requests-2.27.1 tweepy-4.8.0
/content

In [ ]:
!pip install -U selenium

Collecting selenium
  Downloading selenium-4.1.3-py3-none-any.whl (968 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 968 kB 4.1 MB/s
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting trio~=0.17
  Downloading trio-0.20.0-py3-none-any.whl (359 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 359 kB 55.2 MB/s
Collecting urllib3[secure,socks]~=1.26
  Downloading urllib3-1.26.9-py2.py3-none-any.whl (138 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 138 kB 53.3 MB/s
Collecting sniffio
  Downloading sniffio-1.2.0-py3-none-any.whl (10 kB)
Collecting async-generator>=1.9
  Downloading async_generator-1.10-py3-none-any.whl (18 kB)
Collecting outcome
  Downloading outcome-1.1.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (21.4.0)
Collecting wsproto>=0.14
  Downloading wsproto-1.1.0-py3-none-any.whl (24 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Collecting pyOpenSSL>=0.14
  Downloading pyOpenSSL-22.0.0-py2.py3-none-any.whl (55 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 55 kB 3.6 MB/s
Collecting cryptography>=1.3.4
  Downloading cryptography-37.0.0-cp36-abi3-manylinux_2_24_x86_64.whl (4.0 MB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 4.0 MB 36.5 MB/s
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=1.3.4->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=1.3.4->urllib3[secure,socks]~=1.26->selenium) (2.21)
Collecting h11<1,>=0.9.0
  Downloading h11-0.13.0-py3-none-any.whl (58 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 58 kB 5.0 MB/s
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from h11<1,>=0.9.0->wsproto>=0.14->trio-websocket~=0.9->selenium) (4.2.0)
Installing collected packages: sniffio, outcome, h11, cryptography, async-generator, wsproto, urllib3, trio, pyOpenSSL, trio-websocket, selenium
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed async-generator-1.10 cryptography-37.0.0 h11-0.13.0 outcome-1.1.0 pyOpenSSL-22.0.0 selenium-4.1.3 sniffio-1.2.0 trio-0.20.0 trio-websocket-0.9.2 urllib3-1.26.9 wsproto-1.1.0

In [ ]:
!pip install webdriver-manager

Collecting webdriver-manager
  Downloading webdriver_manager-3.5.4-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from webdriver-manager) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->webdriver-manager) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->webdriver-manager) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests->webdriver-manager) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->webdriver-manager) (2021.10.8)
Installing collected packages: webdriver-manager
Successfully installed webdriver-manager-3.5.4

In [ ]:
!apt install -q chromium-chromedriver
!cp /usr/lib/chromium-browser/chromedriver /usr/bin

Reading package lists...
Building dependency tree...
Reading state information...
The following additional packages will be installed:
  chromium-browser chromium-browser-l10n chromium-codecs-ffmpeg-extra
Suggested packages:
  webaccounts-chromium-extension unity-chromium-extension
The following NEW packages will be installed:
  chromium-browser chromium-browser-l10n chromium-chromedriver
  chromium-codecs-ffmpeg-extra
0 upgraded, 4 newly installed, 0 to remove and 48 not upgraded.
Need to get 88.4 MB of archives.
After this operation, 297 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-codecs-ffmpeg-extra amd64 100.0.4896.127-0ubuntu0.18.04.1 [1,142 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser amd64 100.0.4896.127-0ubuntu0.18.04.1 [77.6 MB]
Get:3 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser-l10n all 100.0.4896.127-0ubuntu0.18.04.1 [4,496 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-chromedriver amd64 100.0.4896.127-0ubuntu0.18.04.1 [5,190 kB]
Fetched 88.4 MB in 4s (24.8 MB/s)
Selecting previously unselected package chromium-codecs-ffmpeg-extra.
(Reading database ... 155514 files and directories currently installed.)
Preparing to unpack .../chromium-codecs-ffmpeg-extra_100.0.4896.127-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-codecs-ffmpeg-extra (100.0.4896.127-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-browser.
Preparing to unpack .../chromium-browser_100.0.4896.127-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-browser (100.0.4896.127-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-browser-l10n.
Preparing to unpack .../chromium-browser-l10n_100.0.4896.127-0ubuntu0.18.04.1_all.deb ...
Unpacking chromium-browser-l10n (100.0.4896.127-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-chromedriver.
Preparing to unpack .../chromium-chromedriver_100.0.4896.127-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-chromedriver (100.0.4896.127-0ubuntu0.18.04.1) ...
Setting up chromium-codecs-ffmpeg-extra (100.0.4896.127-0ubuntu0.18.04.1) ...
Setting up chromium-browser (100.0.4896.127-0ubuntu0.18.04.1) ...
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/x-www-browser (x-www-browser) in auto mode
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/gnome-www-browser (gnome-www-browser) in auto mode
Setting up chromium-chromedriver (100.0.4896.127-0ubuntu0.18.04.1) ...
Setting up chromium-browser-l10n (100.0.4896.127-0ubuntu0.18.04.1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for mime-support (3.60ubuntu1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.3) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

cp: '/usr/lib/chromium-browser/chromedriver' and '/usr/bin/chromedriver' are the same file

# Libraries

In [ ]:
import sys
import json
sys.path.append(".")
import tweepy
import re
import requests
import tldextract
import math
import pandas as pd
import selenium
from selenium import webdriver
from urlextract import URLExtract
from pprint import pprint
from itertools import chain
from unshortenit import UnshortenIt
from requests.adapters import HTTPAdapter
from requests.packages.urllib3.util.retry import Retry
from twitter import *
import nltk

# Selenium setup

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import time

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
options = webdriver.ChromeOptions()
options.add_argument('--headless')
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')

# Tokens

In [ ]:
consumer_key = "1Bt5NsVYAvbhauiA7rQIXl6VI"
consumer_secret = "gU5eKsibayIyS1p3IzOfpLwsg32D2yW9sqdDsnOaU6bUQKkhaW"
access_token = "735300724607877120-7fd8mLTQG1e3QJfe9P7rKLUD4a16c35"
access_token_secret = "vir0UbQ44oUm3u2eh8lM1J6cE4ckFyfWm2j44JGckj5Ht"

# Authentication

In [ ]:
auth = tweepy.OAuth1UserHandler(
    consumer_key, consumer_secret, access_token, access_token_secret
)

api = tweepy.API(auth)

# Usage

In [ ]:
def extract_url(tweet_text, domain_list, extractor):
    
    # check if tweet_text has URLs
    if extractor.has_urls(tweet_text):
        link_list = [link for link in extractor.find_urls(tweet_text)]

        # unwrap shortened t.co links
        links = []
        for link in link_list:
          try:
            url = requests.get(link).url
          except:
            continue
          links.append(url)
          
        # for link in link_list:
        #   session = requests.Session()
        #   retry = Retry(connect=3, backoff_factor=0.5)
        #   adapter = HTTPAdapter(max_retries=retry)
        #   session.mount('http://', adapter)
        #   session.mount('https://', adapter)

        #   url = session.get(link).url
        #   links.append(url)

        # links = [requests.get(link).url for link in link_list]
        # unshortener = UnshortenIt()
        # links = [unshortener.unshorten(link) for link in link_list]

        # filter domains and remove duplicates whilst preserving order
        filtered_links = list(set([link for link in links if tldextract.extract(link).domain not in domain_list]))

        # return None if no filtered_links are present
        if len(filtered_links) != 0:
            return filtered_links
        else:
            return None
    # return None if tweet_text has no URLs
    else:
        return None

In [ ]:
def get_tweet_score(followers, following, totaltweets, retweetcount):
    
    # factors denoting popularity of a given tweet
    # consider the following order of importance
        # retweetcount
        # followers to following ratio
        # totaltweets by the user account
    
    # normalized follower to following ratio
    ratio = (0.8 * (followers + 1))/(0.2 * (following + 1))

    # weights distribution
    # 60% retweetcount
    wt_rt_count = 0.6
    # 40% followers-to-following ratio
    wt_ratio = 0.4
    # log(totaltweets) since total tweets can be very large
    wt_total = math.log10(totaltweets)

    # calculate score and return
    return wt_rt_count*(retweetcount) + wt_ratio*ratio + wt_total

In [ ]:
def scrape(tweets):

  # set of urls found
  url_set = set()

  # list of tweets containing links
  link_tweets = []

  for tweet in tweets:
      username = tweet.user.screen_name
      description = tweet.user.description
      location = tweet.user.location
      following = tweet.user.friends_count
      followers = tweet.user.followers_count
      totaltweets = tweet.user.statuses_count
      retweetcount = tweet.retweet_count
      hashtags = tweet.entities['hashtags']
      score = get_tweet_score(followers, following, totaltweets, retweetcount)
      
      # retweets can be distinguished by
      # a retweeted_status attribute,
      # in case it is an invalid reference,
      # except block will be executed
      try:
          text = tweet.retweeted_status.full_text
      except AttributeError:
          text = tweet.full_text

      hashtext = list()
      for j in range(len(hashtags)):
          hashtext.append(hashtags[j]['text'])
      
      # initialize URLExtract
      extractor = URLExtract()

      # list of domains to filter
      domains = ['twitter', 'youtube','bloomberg', 'dailymail', 'msn', 'teslarati', 'cnn']

      # single tweet can have more than one url so get them in lists
      urls = extract_url(text, domains, extractor)

      if urls:
          for url in urls:
              if url not in url_set:
                  # add url to the set
                  url_set.add(url)

                  # check url status
                  print("URL Being scraped is: ", url)
                  req = requests.head(url)
                  print("URL status code is: ", req.status_code)

                  # selenium scraper
                  wd = webdriver.Chrome('chromedriver',options=options)
                  wd.maximize_window()
                  wd.execute_script("Object.defineProperty(navigator, 'webdriver', {get: () => undefined})")
                  wd.execute_cdp_cmd('Network.setUserAgentOverride', {"userAgent": 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.53 Safari/537.36'})
                  wd.get(url)
                  try:
                    # wd.implicitly_wait(10)
                    el = wd.find_element(By.TAG_NAME, "body")
                    title = wd.title
                    body = el.text
                  except NoSuchElementException:
                    pass
                  wd.quit()
                  
                  # need to add title and body after score for selenium data
                  ith_tweet = [username, description,
                              location, following,
                              followers, totaltweets,
                              retweetcount, text, url, 
                              hashtext, score, title, body]
                  
                  # append all the extracted information to the list
                  link_tweets.append(ith_tweet)

  df_tweets = pd.DataFrame(link_tweets, columns=['username',
                                                 'description',
                                                 'location',
                                                 'following',
                                                 'followers',
                                                 'totaltweets',
                                                 'retweetcount',
                                                 'text',
                                                 'urls',
                                                 'hashtags',
                                                 'score',
                                                 'title',
                                                 'body'
                                                ])
      
  return df_tweets

In [ ]:
if __name__ == '__main__':

  queryTopic = "elon"

  tweets = [tweet for tweet in tweepy.Cursor(api.search_tweets,
                                            q = (queryTopic),
                                            lang = "en",
                                            result_type = "mixed",
                                            tweet_mode = 'extended'
                                            ).items(100)]
                                            
  tweets_popular = [tweet for tweet in tweepy.Cursor(api.search_tweets,
                                                    q = (queryTopic),
                                                    lang = "en",
                                                    result_type = "popular",
                                                    tweet_mode = 'extended',
                                                    ).items()]
  print(len(tweets))
  print(len(tweets_popular))

  df_tweets = scrape(tweets)
  df_tweets_popular = scrape(tweets_popular)

100
78
URL Being scraped is:  https://www.mypillow.com/
URL status code is:  200
URL Being scraped is:  https://nypost.com/2022/04/26/shaun-king-other-liberals-delete-twitter-in-protest-of-elon-musk/?utm_campaign=SocialFlow&utm_source=NYPTwitter&utm_medium=SocialFlow
URL status code is:  200
URL Being scraped is:  https://maxread.substack.com/p/elon-musk-wont-fix-twitter-but-he
URL status code is:  200
URL Being scraped is:  https://www.foxnews.com/entertainment/hollywood-reacts-elon-musk-buying-twitter
URL status code is:  200
URL Being scraped is:  https://nypost.com/2022/04/25/russia-appears-to-confuse-the-sims-for-sim-cards-in-possible-staged-assassination-attempt/
URL status code is:  200
URL Being scraped is:  https://www.independent.co.uk/tech/twitter-elon-musk-sale-buys-b2065182.html#Echobox=1650888159
URL status code is:  200
URL Being scraped is:  https://www.tmz.com/2022/04/25/elon-musk-new-owner-twitter-43-billion-offer-accepted/?adid=social-twa
URL status code is:  200
URL Being scraped is:  https://nypost.com/2022/04/19/ron-desantis-threatens-twitter-board-over-elon-musks-bid/?utm_campaign=SocialFlow&utm_source=NYPTwitter&utm_medium=SocialFlow
URL status code is:  200
URL Being scraped is:  https://www.washingtonpost.com/opinions/2022/04/19/conservatives-cheering-elon-musk/
URL status code is:  200
URL Being scraped is:  https://watcher.guru/news/elon-musk-willing-to-invest-15-billion-to-take-over-twitter-sources-cite
URL status code is:  200
URL Being scraped is:  https://www.reuters.com/technology/elon-musk-invest-up-15-bln-his-own-money-buy-twitter-nypost-2022-04-19/?taid=625efd552d4cd2000149ee2e&utm_campaign=trueAnthem:+Trending+Content&utm_medium=trueAnthem&utm_source=twitter
URL status code is:  200

**Getting top 5 tweets for comparison**

In [ ]:
tweet_text = []
for tweet in tweets_popular:
  tweet_text.append(tweet.full_text)

top_5_tweet_text = tweet_text[0:5]

for tweet in top_5_tweet_text:
  print("tweet: ", tweet)

tweet:  FYI: We‚Äôre blocked by Elon Musk.

So much for being ‚Äúcommitted‚Äù to free speech. https://t.co/iXsMQYq8v0
tweet:  Zuckerberg owns Facebook, Instagram, and WhatsApp.

Jeff Bezos owns the Washington Post.

Elon Musk owns Twitter.

When multi-billionaires take control of our most vital platforms for communication, it‚Äôs not a win for free speech. It‚Äôs a win for oligarchy.
tweet:  In principle, I don‚Äôt believe anyone should own or run Twitter. It wants to be a public good at a protocol level, not a company. Solving for the problem of it being a company however, Elon is the singular solution I trust. I trust his mission to extend the light of consciousness.
tweet:  The Elon news is crowding out a significantly funnier story: Russia staged a fake bust of alleged Ukrainian Nazi assassins, and the guy tasked with assembling the paraphernalia for the photo bought three copies of The Sims instead of three SIM cards https://t.co/J6Cf2Ioegz
tweet:  Elon Musk is the first African American to own a large social media platform. He is one of my favorite African Americans and it‚Äôs sad to see so many people on the left attacking him during this Historic moment. https://t.co/4NDpSengOK

# Merging the data frames (popular + descending order of scores)

In [ ]:
df_tweets = df_tweets.sort_values(by = "score",ascending = False).reset_index(drop =True)
df_final = pd.concat([df_tweets_popular,df_tweets]).drop_duplicates(subset="urls").reset_index(drop =True)
df_final.head()

,username,description,location,following,followers,totaltweets,retweetcount,text,urls,hashtags,score,title,body
0,tomgara,"writing and editing things. now: @meta, former...",PGP: http://bit.ly/1Nja4jP,1732,63011,128293,13841,The Elon news is crowding out a significantly ...,https://nypost.com/2022/04/25/russia-appears-t...,[],8367.884314,Russia appears to confuse 'The Sims' for SIM c...,Primary Menu\nSECTIONS\nNew York Post\nLOG IN\...
1,Independent,"News, comment and features from The Independen...","London, England",404,3695120,1257919,10797,üö®JUST IN üö®\nTwitter to accept Elon Musk‚Äôs $45 ...,https://www.independent.co.uk/tech/twitter-elo...,[],21082.308542,Twitter: Elon Musk takeover announced with Tes...,Contribute\nSubscribe\nLOGIN\nTech\nTwitter: E...
2,TMZ,Breaking entertainment news as it happens.,"Los Angeles, CA",927,5896588,375913,3850,Elon Musk is Twitter's new daddy ... and some ...,https://www.tmz.com/2022/04/25/elon-musk-new-o...,[],12482.107846,Elon Musk Buys Twitter for $44 Billion,Skip to main content\nGOT A TIP?\nTMZ\nYou hav...
3,nypost,Breaking news & features from The New York Pos...,"New York, NY",10997,2602188,467329,405,Florida Gov. Ron DeSantis threatens to go afte...,https://nypost.com/2022/04/19/ron-desantis-thr...,[],627.238672,Ron DeSantis threatens Twitter board over Elon...,Primary Menu\nSECTIONS\nNew York Post\nLOG IN\...
4,ThePlumLineGS,"A blog about politics, politics, and politics",,3766,317962,165109,194,The same GOP hailing Elon Musk as a free speec...,https://www.washingtonpost.com/opinions/2022/0...,[],256.669748,Opinion | Conservatives cheering on Elon Musk ...,Accessibility statement\nSkip to main content\...

# BM25

In [ ]:
# pre-preprocessing for tokenization
import nltk
nltk.download('punkt')
nltk.download('stopwords')
from nltk import word_tokenize
import contractions
import re
import inflect
from nltk.corpus import stopwords
from rank_bm25 import *
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

#Remove URLs from a sample string

def remove_URL(sample):
    return re.sub(r"http\S+", "", sample)

# Replace contractions in string of text
def replace_contractions(text):
    return contractions.fix(text)

# Convert all characters to lowercase from list of tokenized words
def to_lowercase(words):
    new_words = []
    for word in words:
        new_word = word.lower()
        new_words.append(new_word)
    return new_words

#Remove punctuation from list of tokenized words
def remove_punctuation(words):
    new_words = []
    for word in words:
        new_word = re.sub(r'[^\w\s]', '', word)
        if new_word != '':
            new_words.append(new_word)
    return new_words

def replace_numbers(words):
    """Replace all interger occurrences in list of tokenized words with textual representation"""
    p = inflect.engine()
    new_words = []
    for word in words:
        if word.isdigit():
            continue
        else:
            new_words.append(word)
    return new_words

# Remove stop words from list of tokenized words
def remove_stopwords(words):
    new_words = []
    for word in words:
        if word not in stopwords.words('english'):
            new_words.append(word)
    return new_words

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
token_list = []
ps = PorterStemmer()

i = 0 
for text in top_5_tweet_text:
  x = remove_URL(text)
  x = replace_contractions(x)

  tokens = replace_numbers(to_lowercase(remove_stopwords(remove_punctuation(nltk.word_tokenize(x)))))

  for token in tokens:
    token_list.append(ps.stem(token))

# unique tokens:
token_list = list(set(token_list))

In [ ]:
print(len(token_list))
print(token_list)

86
['tri', 'yet', 'gave', 'social', 'sad', 'hunger', 'block', 'free', 'peopl', 'speech', 'america', 'void', 'washington', 'coincid', 'end', 'instagram', 'get', 'so', 'jeff', 'two', 'violat', 'whatsapp', 'post', 'own', 'we', 'when', 'see', 'could', 'put', 'musk', 'control', 'amount', 'publicli', 'zuckerberg', 'disparag', 'media', 'take', 'attack', 'world', 'commit', 'billion', 'purpos', 'feder', 'histor', 'money', 'fyi', 'high', 'platform', 'oligarchi', 'today', 'elon', 'year', 'much', 'un', 'agreement', 'he', 'last', 'deal', 'bezo', 'unravel', 'moment', 'favorit', 'gener', 'american', 'tax', 'well', 'african', 'unclear', 'facebook', 'twitter', 'one', 'left', 'claus', 'rank', 'vital', 'mani', 'whi', 'first', 'larg', 'multibillionair', 'employe', 'it', 'win', 'buyout', 'paid', 'commun']

In [ ]:
# tokenize the bodys of all links

i=0
link_content_tokenized = []
for text in df_final["body"]:
  x = remove_URL(text)
  x = replace_contractions(x)

  tokens = replace_numbers(to_lowercase(remove_stopwords(remove_punctuation(nltk.word_tokenize(x)))))
  
  li = []
  for token in tokens:
    li.append(ps.stem(token))
  
  li = list(set(li))

  link_content_tokenized.append(li)

In [ ]:
print(len(link_content_tokenized))

11

In [ ]:
# matching using bm25
bm25 = BM25Okapi(link_content_tokenized)
doc_scores = bm25.get_scores(token_list)
df_final["bm25_score"] = doc_scores
df_final.sort_values("bm25_score", ascending = False)

,username,description,location,following,followers,totaltweets,retweetcount,text,urls,hashtags,score,title,body,bm25_score
10,fauxrealist,news editor/photographer/anthropology student;...,LA,2003,431,551,0,this is the most recent take i've read of the ...,https://maxread.substack.com/p/elon-musk-wont-...,[],3.086062,Elon Musk won't fix Twitter (but he won't kill...,Read Max\nSubscribe\nSign in\nElon Musk won't ...,22.035982
4,ThePlumLineGS,"A blog about politics, politics, and politics",,3766,317962,165109,194,The same GOP hailing Elon Musk as a free speec...,https://www.washingtonpost.com/opinions/2022/0...,[],256.669748,Opinion | Conservatives cheering on Elon Musk ...,Accessibility statement\nSkip to main content\...,19.478697
7,Acent80Anthony,,United States,876,430,20180,729,"Shaun King, other liberals vow to leave Twitte...",https://nypost.com/2022/04/26/shaun-king-other...,[],442.491238,"Shaun King, other liberals vow to leave Twitte...",Primary Menu\nSECTIONS\nNew York Post\nLOG IN\...,17.018772
6,Reuters,"Top and breaking news, pictures and videos fro...",Around the world,1215,25084073,847879,114,Musk willing to invest up to $15 bln of own mo...,https://www.reuters.com/technology/elon-musk-i...,[],33079.688860,Musk tweets cryptic phrase days after Twitter ...,Reuters home\nWorld\nBusiness\nLegal\nMarkets\...,14.884846
2,TMZ,Breaking entertainment news as it happens.,"Los Angeles, CA",927,5896588,375913,3850,Elon Musk is Twitter's new daddy ... and some ...,https://www.tmz.com/2022/04/25/elon-musk-new-o...,[],12482.107846,Elon Musk Buys Twitter for $44 Billion,Skip to main content\nGOT A TIP?\nTMZ\nYou hav...,13.191287
9,mcordeirobrasil,De direita com muito orgulho.,Brasil,990,1238,110007,176,Hollywood reacts to Elon Musk's Twitter purcha...,https://www.foxnews.com/entertainment/hollywoo...,[],112.641824,Hollywood reacts to Elon Musk's Twitter purcha...,Fox News\n2:46 PM\nU.S.\nPolitics\nMedia\nOpin...,12.765551
5,WatcherGuru,Watcher Guru gives you unparalleled coverage o...,"Texas, USA",20,826788,6509,96,Elon Musk Reportedly Set to Launch a Tender Of...,https://watcher.guru/news/elon-musk-willing-to...,[],63054.861133,Elon Musk Willing to Invest $15 Billion to Tak...,GENERAL CRYPTO\n2 minute read\nElon Musk Willi...,12.429563
3,nypost,Breaking news & features from The New York Pos...,"New York, NY",10997,2602188,467329,405,Florida Gov. Ron DeSantis threatens to go afte...,https://nypost.com/2022/04/19/ron-desantis-thr...,[],627.238672,Ron DeSantis threatens Twitter board over Elon...,Primary Menu\nSECTIONS\nNew York Post\nLOG IN\...,11.485096
0,tomgara,"writing and editing things. now: @meta, former...",PGP: http://bit.ly/1Nja4jP,1732,63011,128293,13841,The Elon news is crowding out a significantly ...,https://nypost.com/2022/04/25/russia-appears-t...,[],8367.884314,Russia appears to confuse 'The Sims' for SIM c...,Primary Menu\nSECTIONS\nNew York Post\nLOG IN\...,10.905855
1,Independent,"News, comment and features from The Independen...","London, England",404,3695120,1257919,10797,üö®JUST IN üö®\nTwitter to accept Elon Musk‚Äôs $45 ...,https://www.independent.co.uk/tech/twitter-elo...,[],21082.308542,Twitter: Elon Musk takeover announced with Tes...,Contribute\nSubscribe\nLOGIN\nTech\nTwitter: E...,6.665566
8,RyanKnolton,,,59,2,4,445,We all know the only reason @ShaunKing came ba...,https://www.mypillow.com/,[],267.682060,Home Page,Skip to Content\nContact Us\nSign In\nSearch\n...,2.419849

# PyTerrier

In [ ]:
import pyterrier as pt
if not pt.started():
  pt.init()

terrier-assemblies 5.6 jar-with-dependencies not found, downloading to /root/.pyterrier...
Done
terrier-python-helper 0.0.6 jar not found, downloading to /root/.pyterrier...
Done

PyTerrier 0.8.1 has loaded Terrier 5.6 (built by craigmacdonald on 2021-09-17 13:27)

In [ ]:
df_final

,username,description,location,following,followers,totaltweets,retweetcount,text,urls,hashtags,score,title,body,bm25_score
0,tomgara,"writing and editing things. now: @meta, former...",PGP: http://bit.ly/1Nja4jP,1732,63011,128293,13841,The Elon news is crowding out a significantly ...,https://nypost.com/2022/04/25/russia-appears-t...,[],8367.884314,Russia appears to confuse 'The Sims' for SIM c...,Primary Menu\nSECTIONS\nNew York Post\nLOG IN\...,10.905855
1,Independent,"News, comment and features from The Independen...","London, England",404,3695120,1257919,10797,üö®JUST IN üö®\nTwitter to accept Elon Musk‚Äôs $45 ...,https://www.independent.co.uk/tech/twitter-elo...,[],21082.308542,Twitter: Elon Musk takeover announced with Tes...,Contribute\nSubscribe\nLOGIN\nTech\nTwitter: E...,6.665566
2,TMZ,Breaking entertainment news as it happens.,"Los Angeles, CA",927,5896588,375913,3850,Elon Musk is Twitter's new daddy ... and some ...,https://www.tmz.com/2022/04/25/elon-musk-new-o...,[],12482.107846,Elon Musk Buys Twitter for $44 Billion,Skip to main content\nGOT A TIP?\nTMZ\nYou hav...,13.191287
3,nypost,Breaking news & features from The New York Pos...,"New York, NY",10997,2602188,467329,405,Florida Gov. Ron DeSantis threatens to go afte...,https://nypost.com/2022/04/19/ron-desantis-thr...,[],627.238672,Ron DeSantis threatens Twitter board over Elon...,Primary Menu\nSECTIONS\nNew York Post\nLOG IN\...,11.485096
4,ThePlumLineGS,"A blog about politics, politics, and politics",,3766,317962,165109,194,The same GOP hailing Elon Musk as a free speec...,https://www.washingtonpost.com/opinions/2022/0...,[],256.669748,Opinion | Conservatives cheering on Elon Musk ...,Accessibility statement\nSkip to main content\...,19.478697
5,WatcherGuru,Watcher Guru gives you unparalleled coverage o...,"Texas, USA",20,826788,6509,96,Elon Musk Reportedly Set to Launch a Tender Of...,https://watcher.guru/news/elon-musk-willing-to...,[],63054.861133,Elon Musk Willing to Invest $15 Billion to Tak...,GENERAL CRYPTO\n2 minute read\nElon Musk Willi...,12.429563
6,Reuters,"Top and breaking news, pictures and videos fro...",Around the world,1215,25084073,847879,114,Musk willing to invest up to $15 bln of own mo...,https://www.reuters.com/technology/elon-musk-i...,[],33079.688860,Musk tweets cryptic phrase days after Twitter ...,Reuters home\nWorld\nBusiness\nLegal\nMarkets\...,14.884846
7,Acent80Anthony,,United States,876,430,20180,729,"Shaun King, other liberals vow to leave Twitte...",https://nypost.com/2022/04/26/shaun-king-other...,[],442.491238,"Shaun King, other liberals vow to leave Twitte...",Primary Menu\nSECTIONS\nNew York Post\nLOG IN\...,17.018772
8,RyanKnolton,,,59,2,4,445,We all know the only reason @ShaunKing came ba...,https://www.mypillow.com/,[],267.682060,Home Page,Skip to Content\nContact Us\nSign In\nSearch\n...,2.419849
9,mcordeirobrasil,De direita com muito orgulho.,Brasil,990,1238,110007,176,Hollywood reacts to Elon Musk's Twitter purcha...,https://www.foxnews.com/entertainment/hollywoo...,[],112.641824,Hollywood reacts to Elon Musk's Twitter purcha...,Fox News\n2:46 PM\nU.S.\nPolitics\nMedia\nOpin...,12.765551
10,fauxrealist,news editor/photographer/anthropology student;...,LA,2003,431,551,0,this is the most recent take i've read of the ...,https://maxread.substack.com/p/elon-musk-wont-...,[],3.086062,Elon Musk won't fix Twitter (but he won't kill...,Read Max\nSubscribe\nSign in\nElon Musk won't ...,22.035982

In [ ]:
df_final.insert(12, 'docno', range(1, 1 + len(df_final)))

In [ ]:
df_final

,username,description,location,following,followers,totaltweets,retweetcount,text,urls,hashtags,score,title,docno,body,bm25_score
0,tomgara,"writing and editing things. now: @meta, former...",PGP: http://bit.ly/1Nja4jP,1732,63011,128293,13841,The Elon news is crowding out a significantly ...,https://nypost.com/2022/04/25/russia-appears-t...,[],8367.884314,Russia appears to confuse 'The Sims' for SIM c...,1,Primary Menu\nSECTIONS\nNew York Post\nLOG IN\...,10.905855
1,Independent,"News, comment and features from The Independen...","London, England",404,3695120,1257919,10797,üö®JUST IN üö®\nTwitter to accept Elon Musk‚Äôs $45 ...,https://www.independent.co.uk/tech/twitter-elo...,[],21082.308542,Twitter: Elon Musk takeover announced with Tes...,2,Contribute\nSubscribe\nLOGIN\nTech\nTwitter: E...,6.665566
2,TMZ,Breaking entertainment news as it happens.,"Los Angeles, CA",927,5896588,375913,3850,Elon Musk is Twitter's new daddy ... and some ...,https://www.tmz.com/2022/04/25/elon-musk-new-o...,[],12482.107846,Elon Musk Buys Twitter for $44 Billion,3,Skip to main content\nGOT A TIP?\nTMZ\nYou hav...,13.191287
3,nypost,Breaking news & features from The New York Pos...,"New York, NY",10997,2602188,467329,405,Florida Gov. Ron DeSantis threatens to go afte...,https://nypost.com/2022/04/19/ron-desantis-thr...,[],627.238672,Ron DeSantis threatens Twitter board over Elon...,4,Primary Menu\nSECTIONS\nNew York Post\nLOG IN\...,11.485096
4,ThePlumLineGS,"A blog about politics, politics, and politics",,3766,317962,165109,194,The same GOP hailing Elon Musk as a free speec...,https://www.washingtonpost.com/opinions/2022/0...,[],256.669748,Opinion | Conservatives cheering on Elon Musk ...,5,Accessibility statement\nSkip to main content\...,19.478697
5,WatcherGuru,Watcher Guru gives you unparalleled coverage o...,"Texas, USA",20,826788,6509,96,Elon Musk Reportedly Set to Launch a Tender Of...,https://watcher.guru/news/elon-musk-willing-to...,[],63054.861133,Elon Musk Willing to Invest $15 Billion to Tak...,6,GENERAL CRYPTO\n2 minute read\nElon Musk Willi...,12.429563
6,Reuters,"Top and breaking news, pictures and videos fro...",Around the world,1215,25084073,847879,114,Musk willing to invest up to $15 bln of own mo...,https://www.reuters.com/technology/elon-musk-i...,[],33079.688860,Musk tweets cryptic phrase days after Twitter ...,7,Reuters home\nWorld\nBusiness\nLegal\nMarkets\...,14.884846
7,Acent80Anthony,,United States,876,430,20180,729,"Shaun King, other liberals vow to leave Twitte...",https://nypost.com/2022/04/26/shaun-king-other...,[],442.491238,"Shaun King, other liberals vow to leave Twitte...",8,Primary Menu\nSECTIONS\nNew York Post\nLOG IN\...,17.018772
8,RyanKnolton,,,59,2,4,445,We all know the only reason @ShaunKing came ba...,https://www.mypillow.com/,[],267.682060,Home Page,9,Skip to Content\nContact Us\nSign In\nSearch\n...,2.419849
9,mcordeirobrasil,De direita com muito orgulho.,Brasil,990,1238,110007,176,Hollywood reacts to Elon Musk's Twitter purcha...,https://www.foxnews.com/entertainment/hollywoo...,[],112.641824,Hollywood reacts to Elon Musk's Twitter purcha...,10,Fox News\n2:46 PM\nU.S.\nPolitics\nMedia\nOpin...,12.765551
10,fauxrealist,news editor/photographer/anthropology student;...,LA,2003,431,551,0,this is the most recent take i've read of the ...,https://maxread.substack.com/p/elon-musk-wont-...,[],3.086062,Elon Musk won't fix Twitter (but he won't kill...,11,Read Max\nSubscribe\nSign in\nElon Musk won't ...,22.035982

In [ ]:
df_final['docno'] = df_final['docno'].astype(str)

In [ ]:
indexer = pt.DFIndexer("./index_docs", overwrite=True)
index_ref = indexer.index(df_final["body"], df_final["docno"])
index_ref.toString()

'./index_docs/data.properties'

In [ ]:
index = pt.IndexFactory.of(index_ref)

# check index type
type(index)

jnius.reflect.org.terrier.structures.Index

In [ ]:
str_tokens = " ".join(token_list)
str_tokens

'tri yet gave social sad hunger block free peopl speech america void washington coincid end instagram get so jeff two violat whatsapp post own we when see could put musk control amount publicli zuckerberg disparag media take attack world commit billion purpos feder histor money fyi high platform oligarchi today elon year much un agreement he last deal bezo unravel moment favorit gener american tax well african unclear facebook twitter one left claus rank vital mani whi first larg multibillionair employe it win buyout paid commun'

In [ ]:
# br = pt.BatchRetrieve(index, wmodel="BM25")
# br.search(str_tokens)

**TF_IDF**

In [ ]:
br = pt.BatchRetrieve(index, wmodel="TF_IDF")
tf_idf = br.search(str_tokens)
tf_idf

,qid,docid,docno,rank,score,query
0,1,10,11,0,31.746067,tri yet gave social sad hunger block free peop...
1,1,7,8,1,30.976660,tri yet gave social sad hunger block free peop...
2,1,4,5,2,28.033029,tri yet gave social sad hunger block free peop...
3,1,6,7,3,27.285904,tri yet gave social sad hunger block free peop...
4,1,9,10,4,24.768462,tri yet gave social sad hunger block free peop...
5,1,2,3,5,23.473612,tri yet gave social sad hunger block free peop...
6,1,5,6,6,19.912203,tri yet gave social sad hunger block free peop...
7,1,3,4,7,18.663669,tri yet gave social sad hunger block free peop...
8,1,0,1,8,17.692808,tri yet gave social sad hunger block free peop...
9,1,1,2,9,11.915289,tri yet gave social sad hunger block free peop...
10,1,8,9,10,2.660376,tri yet gave social sad hunger block free peop...

**PL2**

In [ ]:
br = pt.BatchRetrieve(index, wmodel="PL2")
pl2 = br.search(str_tokens)
pl2

,qid,docid,docno,rank,score,query
0,1,6,7,0,22.005433,tri yet gave social sad hunger block free peop...
1,1,10,11,1,20.987679,tri yet gave social sad hunger block free peop...
2,1,4,5,2,20.922308,tri yet gave social sad hunger block free peop...
3,1,7,8,3,20.547398,tri yet gave social sad hunger block free peop...
4,1,2,3,4,18.044606,tri yet gave social sad hunger block free peop...
5,1,9,10,5,17.414865,tri yet gave social sad hunger block free peop...
6,1,0,1,6,15.168899,tri yet gave social sad hunger block free peop...
7,1,5,6,7,14.367371,tri yet gave social sad hunger block free peop...
8,1,3,4,8,13.795998,tri yet gave social sad hunger block free peop...
9,1,1,2,9,10.482458,tri yet gave social sad hunger block free peop...
10,1,8,9,10,2.832919,tri yet gave social sad hunger block free peop...

**InL2**

In [ ]:
br = pt.BatchRetrieve(index, wmodel="InL2")
inl2 = br.search(str_tokens)
inl2

,qid,docid,docno,rank,score,query
0,1,10,11,0,17.058304,tri yet gave social sad hunger block free peop...
1,1,7,8,1,16.035904,tri yet gave social sad hunger block free peop...
2,1,4,5,2,15.749293,tri yet gave social sad hunger block free peop...
3,1,6,7,3,14.083544,tri yet gave social sad hunger block free peop...
4,1,9,10,4,13.013637,tri yet gave social sad hunger block free peop...
5,1,2,3,5,12.562300,tri yet gave social sad hunger block free peop...
6,1,0,1,6,10.312937,tri yet gave social sad hunger block free peop...
7,1,5,6,7,9.748248,tri yet gave social sad hunger block free peop...
8,1,3,4,8,9.390903,tri yet gave social sad hunger block free peop...
9,1,1,2,9,4.174227,tri yet gave social sad hunger block free peop...
10,1,8,9,10,1.313054,tri yet gave social sad hunger block free peop...

# Resultant links from InL2

In [77]:
ind = list(inl2["docid"].astype(int))
print("Top links for your query: ", queryTopic)
for link in df_final.iloc[ind]["urls"]:
  print(link)

Top links for your query:  elon
https://maxread.substack.com/p/elon-musk-wont-fix-twitter-but-he
https://nypost.com/2022/04/26/shaun-king-other-liberals-delete-twitter-in-protest-of-elon-musk/?utm_campaign=SocialFlow&utm_source=NYPTwitter&utm_medium=SocialFlow
https://www.washingtonpost.com/opinions/2022/04/19/conservatives-cheering-elon-musk/
https://www.reuters.com/technology/elon-musk-invest-up-15-bln-his-own-money-buy-twitter-nypost-2022-04-19/?taid=625efd552d4cd2000149ee2e&utm_campaign=trueAnthem:+Trending+Content&utm_medium=trueAnthem&utm_source=twitter
https://www.foxnews.com/entertainment/hollywood-reacts-elon-musk-buying-twitter
https://www.tmz.com/2022/04/25/elon-musk-new-owner-twitter-43-billion-offer-accepted/?adid=social-twa
https://nypost.com/2022/04/25/russia-appears-to-confuse-the-sims-for-sim-cards-in-possible-staged-assassination-attempt/
https://watcher.guru/news/elon-musk-willing-to-invest-15-billion-to-take-over-twitter-sources-cite
https://nypost.com/2022/04/19/ron-desantis-threatens-twitter-board-over-elon-musks-bid/?utm_campaign=SocialFlow&utm_source=NYPTwitter&utm_medium=SocialFlow
https://www.independent.co.uk/tech/twitter-elon-musk-sale-buys-b2065182.html#Echobox=1650888159
https://www.mypillow.com/



# Kendal Tau

In [ ]:
from scipy.stats import kendalltau

**base rank**

In [ ]:
base_rank = list(df_final["docno"].astype(int))
print(len(base_rank))
base_rank

11

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

**terrier tf-idf rank**

In [ ]:
new_rank = list(tf_idf["docno"].astype(int))
print(len(new_rank))
new_rank

11

[11, 8, 5, 7, 10, 3, 6, 4, 1, 2, 9]

**Calculating Kendall Rank correlation (base rank, terrier tf-idf rank)**

In [ ]:
# Calculating Kendall Rank correlation
corr, _ = kendalltau(base_rank, new_rank)
print('Kendall Rank correlation: %.5f' % corr)

Kendall Rank correlation: -0.41818

**terrier pl2 rank**

In [ ]:
new_rank = list(pl2["docno"].astype(int))
print(len(new_rank))
new_rank

11

[7, 11, 5, 8, 3, 10, 1, 6, 4, 2, 9]

**Calculating Kendall Rank correlation (base rank, terrier pl2 rank)**

In [ ]:
# Calculating Kendall Rank correlation
corr, _ = kendalltau(base_rank, new_rank)
print('Kendall Rank correlation: %.5f' % corr)

Kendall Rank correlation: -0.23636

**terrier inl2 rank**

In [ ]:
new_rank = list(inl2["docno"].astype(int))
print(len(new_rank))
new_rank

11

[11, 8, 5, 7, 10, 3, 1, 6, 4, 2, 9]

**Calculating Kendall Rank correlation (base rank, terrier inl2 rank)**

In [ ]:
# Calculating Kendall Rank correlation
corr, _ = kendalltau(base_rank, new_rank)
print('Kendall Rank correlation: %.5f' % corr)

Kendall Rank correlation: -0.34545

**bm25 rank**

In [ ]:
new_rank = list(df_final.sort_values("bm25_score", ascending = False)["docno"].astype(int))
new_rank

[11, 5, 8, 7, 3, 10, 6, 4, 1, 2, 9]

**Calculating Kendall Rank correlation (base rank, bm25 rank)**

In [ ]:
corr, _ = kendalltau(base_rank, new_rank)
print('Kendall Rank correlation: %.5f' % corr)

Kendall Rank correlation: -0.34545

# RBO (Rank Based Overlap)

In [ ]:
import rbo

**base rank**

In [ ]:
base_rank = list(df_final["docno"].astype(int))
base_rank

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

**terrier tf-idf rank**

In [ ]:
new_rank = list(tf_idf["docno"].astype(int))
new_rank

[11, 8, 5, 7, 10, 3, 6, 4, 1, 2, 9]

**Calculating RBO Rank correlation (base rank, terrier tf-idf rank)**

In [ ]:
rbo.RankingSimilarity(base_rank, new_rank).rbo()

0.41204906204906205

**terrier pl2 rank**

In [ ]:
new_rank = list(pl2["docno"].astype(int))
new_rank

[7, 11, 5, 8, 3, 10, 1, 6, 4, 2, 9]

**Calculating RBO Rank correlation (base rank, terrier pl2 rank)**

In [ ]:
rbo.RankingSimilarity(base_rank, new_rank).rbo()

0.43023088023088024

**terrier inl2 rank**

In [ ]:
new_rank = list(inl2["docno"].astype(int))
new_rank

[11, 8, 5, 7, 10, 3, 1, 6, 4, 2, 9]

**Calculating RBO Rank correlation (base rank, terrier inl2 rank)**

In [ ]:
rbo.RankingSimilarity(base_rank, new_rank).rbo()

0.41204906204906205

**bm25 rank**

In [ ]:
new_rank = list(df_final.sort_values("bm25_score", ascending = False)["docno"].astype(int))
new_rank

[11, 5, 8, 7, 3, 10, 6, 4, 1, 2, 9]

**Calculating RBO Rank correlation (base rank, bm25 rank)**

In [ ]:
rbo.RankingSimilarity(base_rank, new_rank).rbo()

0.43023088023088024